# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (Android)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native (iOS)
*.xcworkspace
*.xcuserdata
Pods/
DerivedData/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Code analysis cache
.codegraph/

# Generated native folders
/ios
/android

# IDE
.idea/
.vscode/
*.swp
*.swo

.superpowers/

.reasonix
.opencode/
.workbuddy/